*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 15px;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: center;

}

.carousel {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
}

.arrow.arrow-left {
    left: 40px;
}

.arrow.arrow-right {
    right: 40px;
}

.slide-body {
    text-align: right;
    position: absolute;
    color: white;
    bottom: 40px;
    right: 80px;
}